* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-primary: 'Inter', 'sans-serif';
  --text-color: #303030;

  --bg-color: #f9f9f9;

  --input-border-color: #e7e7e7;

  --primary-focus-color: #c0c0c0;
  --secondary-focus-color: #f9f9f9;

  --btn-primary-color: #3e4656;
  --btn-primary-color-hover: #273042;
  --btn-primary-text-color: #e7e7e7;

  --box-shadow-primary-color: #00000033;
}

body {
  font-size: 1.8rem;
  color: var(--text-color);
  background-color: var(--bg-color);
}

body * {
  font-family: var(--ff-primary);
}

img {
  max-width: 100%;
  height: auto;
}

.app-header {
  width: 100%;

  height: auto;
  min-height: 72px;

  padding: clamp(2px, 2vw, 12px) clamp(4px, 2vw, 24px);

  background: #fdfdfd;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px 1px;
}

header {
  height: 100%;
  width: 100%;
}

.app-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;

  height: 100%;
}

.company-brand-container {
  cursor: pointer;
}

.company-brand-container img {
  max-height: 40px;
  min-width: 40px;
}

.nav-container {
  min-width: clamp(250px, 50%, 720px);

  height: 100%;
}

.question-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;

  height: auto;
}

.question-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  text-align: center;

  width: 100%;
  height: 100%;
}

.question-link {
  color: var(--btn-primary-color);

  width: 100%;
  height: 100%;
  min-height: 48px;

  font-weight: 700;
}

.question-link.active {
  background-color: var(--btn-primary-color);
  color: var(--btn-primary-text-color);
}

.question-link:active {
  transform: scale(0.97)
}

.question-link:hover {
  background-color: var(--btn-primary-color-hover);
  color: var(--btn-primary-text-color);
}

.question-link:focus {
  background-color: var(--btn-primary-color-hover);
  color: var(--btn-primary-text-color);
}

#repoRedirectButton {
  font-weight: 500;

  width: 100px;
  height: 48px;

  background-color: var(--btn-primary-color);
  color: var(--btn-primary-text-color);

  box-shadow: var(--box-shadow-primary-color) 1px 1px 4px 1px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#repoRedirectButton a{
  text-decoration: none;
  color: var(--btn-primary-text-color);

  width: 100%;
  height: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: content-box;
}

#github-logo {
  stroke: var(--btn-primary-text-color)
}

.app-container {
  margin: 10px auto;
  padding: 3.2rem 4.8rem;

  max-width: 720px;

  background-color: var(--bg-color);
}

.app-container h1 {
  margin-bottom: 3.2rem;
}

.app-container h2 {
  margin-bottom: 2.0rem;
}

.initial-content {
  line-height: 2.6rem;
}

.question-container {
  line-height: 2.6rem;

  display: flex;
  flex-direction: column;
  gap: 16px;

  margin-bottom: 40px;
}

.hidden {
  display: none;
}

.question-interaction-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.input-field {
  height: 30px;
  padding: 6px;

  border: 2px solid var(--input-border-color);
  border-radius: 4px;

  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, border 0.2s ease-in-out;
  appearance: none;

  outline: none;
}

.input-field:hover {
  border-color: var(--primary-focus-color);
  box-shadow: rgba(0, 0, 0, 0.12) 1px 1px 4px 0px inset;
}

.input-field:focus {
  border: 2px solid var(--primary-focus-color);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.inputNumber {
  width: 70px;
}

.output-wrapper {
  opacity: 1;
  display: block;
  text-align: center;
  transition: all .75s allow-discrete;
}

@starting-style {
  .output-wrapper {
    opacity: 0;
  }
}

.output-wrapper.hidden {
  display: none;
  opacity: 0;
}

.upper-alpha-parentheses-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  list-style-position: inside;
}

.upper-alpha-parentheses-list li {
  counter-increment: items;
}

.upper-alpha-parentheses-list li::marker {
  content: counter(items, upper-alpha) ") ";
}

.btn {
  cursor: pointer;

  font-size: 1.6rem;
  line-height: 4.8rem;

  border-radius: 12px;
  border: 2px solid #00000000;
  background-color: transparent;

  outline: none;

  transition: all 0.2s ease-in-out;
}

.btn-gupy {
  font-weight: 500;

  min-width: 100px;

  padding: 0 24px;

  background-color: var(--btn-primary-color);
  color: var(--btn-primary-text-color);

  box-shadow: var(--box-shadow-primary-color) 1px 1px 4px 1px;
}

.btn-gupy:hover {
  background-color: var(--btn-primary-color-hover);
}

.btn-gupy:active {
  transform: scale(0.97);
}

.btn-gupy:focus-visible {
  border: 2px solid #eeececb4;
}

@media (max-width: 480px) {
  :root {
    --header-height: auto;
  }

  .app-header {
    height: auto;
    padding: 8px;
  }

  .question-links {
    flex-direction: column;
  }

  #repoRedirectButton {
    width: 60px;
  }

  .question-interaction-container {
    flex-direction: column;
  }

  .input-container {
    flex-direction: column;
    align-items: end;
  }

  .question-interaction-container>.input-wrapper {
    flex-direction: column;
  }
}